@font-face{
  font-family: "Cyberpunks";
  src:url("assets/cyberpunks.ttf");
}

@font-face{
  font-family: "CIND";
  src:url("assets/CIND.otf");
}

@font-face{
  font-family: "rajdhani";
  src:url("assets/Rajdhani-Regular.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  header {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 10000000;
    top:0;
    width: 100%;
    justify-content: left;
    align-items: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background:linear-gradient(to bottom,rgba(36,8,13,255) 30%,transparent);
    height:10%;
  }

  header>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap:0.5%;
  }

  body{

    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgba(0,0,0,255);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
  }

  footer{
    background-color: rgba(0,0,0,255);
    position: relative;
    width: 100%;
    height: 10%;
    top: 40%;
    overflow-x: hidden; 
  }

  .onglet {
    display:flex;
    height: 20%;
    border: 2px solid rgba(63,6,17,255);
    border-radius: 7px;
    padding: 1.5%;
    background-color:rgba(9,7,17,255);
    color: rgb(247, 80, 73);
    font-family:"rajdhani",Arial,sans-serif;
    text-shadow: 0px 0px 10px  rgb(247, 80, 73);
    cursor: pointer;
    font-weight: 600;
    font-size:14px !important;
    letter-spacing: .08em;
    text-decoration:none;
    transition: background-color 1s;
  }
  
  .onglet:hover {
    background-color: rgb(4,252,220);
    padding:1.5%;
    transition: background-color 0.3s;
  }


  .logo {
    position: relative;
    border-style: none;
    width: 10%;
    height:90%;
    display: flex;
    left: 2%;
    transition: width 0.5s, height 0.5s, left 0.5s;
  }


  .imageLogo {
    position: relative;
    width: 100%;
    height:100%;
    margin-right: 0;
    left: 1%;
    transition: width 0.5s, height 0.5s, left 0.5s;
  }

  .imageLogo:hover{
    position: relative;
    width: 103%;
    height:105%;
    display: flex;
    margin:1%;
    margin-right: 0;
    left: 0.5%;
    transition: width 0.5s, height 0.5s, left 0.5s;
  }

  .description div {
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
    font-family:"FF Mark W05",Arial,Sans-serif;
    font-weight: 600;
    font-size:14px !important;
    padding: 0.2%;
  }
  .description:hover div {
    height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0.5s;
    position: fixed;
    z-index: 100;
    font-family:"FF Mark W05",Arial,Sans-serif;
    color: rgb(115,88,157);
    background-color: rgb(4,252,220);
    border-radius: 2px;
    top:4%;
    left: 8%;
  }

  .dropdown {
    display:flex;
    position:relative; 
    padding: 1.5%;
    border: 2px solid rgba(63,6,17,255);
    border-radius: 7px;
    font-family:"rajdhani",Arial,sans-serif;
    text-shadow: 0px 0px 10px  rgb(247, 80, 73);
    border-radius: 5px;
    background-color:rgba(9,7,17,255);
    color:rgb(247, 80, 73);
    cursor: pointer;
    font-weight: 600;
    font-size:14px !important;
    letter-spacing: .08em;
    text-decoration:none;
    transition: background-color 1s;

  }

  .dropdown_content {
    display:none;
    position: fixed;
    border: 2px solid rgba(63,6,17,255);
    border-radius: 0 0 5px 5px;
    background-color: rgba(36,8,13,255);
    top: 9%;
    left: 11%;
    width: 20%;
    overflow: auto;
  }

  .dropdown:hover {
    color: rgb(115,88,157);
    background-color: rgb(4,252,220);
    padding:1.5%;
    transition: background-color 0.1s;
  }
  .dropdown:hover .dropdown_content{
    display:block;
  }

  .dropdown_content p {
    display:block;
    background-color: transparent;
    padding: 5px;
    margin:0.5%;
    text-decoration: none;
  }

  .dropdown_content a {
    display: block;
    border: 2px solid rgba(63,6,17,255);
    padding: 5px;
    margin:1%;
    color: rgb(247, 80, 73);
    background-color:rgba(9,7,17,255);
    border-radius:5px;
    text-decoration: none;
  }

  .dropdown_content:hover {
    display: block;
  }

  .dropdown_content a:hover {
    background-color: rgb(4,252,220);
    color:  rgb(247, 80, 73);
    border-radius: 3px;
  }

  .gapfill {
    display:flex;
    border-color: rgba(63,6,17,255);
    background-color: rgba(63,6,17,255);
    height:80%;
    padding: 0.1% 0.1% 0.1% 0%;
    opacity: 0.5;
    width: 0.2%;  
    border-radius:50px;
  }
