@font-face{
  font-family: "Roboto";
  src:url("assets/RobotoCondensed-Black.ttf");
}

@font-face{
  font-family: "Goodtimes";
  src:url("assets/good\ timing\ bd.otf");
}

@font-face{
  font-family: "CIND";
  src:url("assets/CIND.otf");
}

@font-face{
  font-family: "rajdhani";
  src:url("assets/Rajdhani-Regular.ttf");
}

@font-face{
  font-family: "rajdhani bold";
  src:url("assets/Rajdhani-Bold.ttf");
}
@keyframes bg-translate1 {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-200%,0,0);  /* position finale à gauche */
  }
}

@keyframes bg-translate2 {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-205%,0,0);  /* position finale à gauche */
  }
}

@keyframes up-down-text{
  from{
    transform: translatey(0%);
  }
  to{
    transform: translateY(50%);
  }
}

@keyframes up-down-centerImg{
  from{
    transform: translateY(10%);
  }
  to{
    transform: translateY(-25%);
  }
}

@keyframes up-down-backImg{
  from{
    transform: translateY(-10%);
  }
  to{
    transform: translateY(40%);
  }
}

@keyframes up-down-frontImg{
  from{
    transform: translateY(10%);
  }
  to{
    transform: translateY(-25%);
  }
}

@keyframes up-down-floatImg{
  from{
    transform: translateY(-20%);
  }
  to{
    transform: translateY(150%);
  }
}

*, *::after, *::before{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  header {
    position: relative;
    display: flex;
    z-index: 10000000;
    top:0%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:32%;
  }

  body{
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(17,17,17);
    width: 100%;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 12px; 
  }

  body::-webkit-scrollbar-track {
    background: black; 
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(236,78,0); 
    border-radius: 20px; 
    border: 3px solid rgb(17,17,17); 
  }

  footer{
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    position: relative;
    width: 100%;
    height: 20%;
    top:250%;
    z-index: 100000;
    overflow-x: hidden; 
    border-top: 2px solid rgb(236,78,0);
  }

  ::-moz-selection {
    color: black;
    background: rgb(236,78,0);
  }
  
  ::selection {
    color: black;
    background: rgb(236,78,0);
  }

  .hero {
    font-family: 'Roboto', Times, serif ;
    font-size: clamp(70px, 10vw, 70px);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    letter-spacing: -4px;
    transition: color 0.3s;
    filter: drop-shadow(0 1px 3px);
    position: relative;
  }

  .hero:hover{
    color: rgb(236,78,0);
    transition: color 0.3s;
  }

  .buttonList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .buttonSlide {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border: 2px solid white;
    padding: 1.5%;
    color: white;
    background-color: transparent;
    font-family:"rajdhani",Arial,sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size:14px !important;
    letter-spacing: .08em;
    text-decoration:none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 23px 33px;
    transition: border 0.3s;
  }

  .buttonSlide:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(120deg, rgb(236,78,0) 50%, transparent 50%);
    z-index: -1;
    background-size: 300%;
    background-position: 100%;
    transition: 0.7s;
  }
  
  .buttonSlide:hover{
    border: 2px solid rgb(236,78,0);
  }

  .buttonSlide:hover,
  .buttonSlide:hover:after {
    background-position: 0;
  }
  
  .inText{
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 45%;
  }

  .inLeft{
    left: 55%;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 45%;
  }

  .separator{
    content: "";
    width: 95%;
    border-radius: 10px;
    border: 2px solid rgb(57, 57, 57);
    margin:2%;
  }

  .largeSeparator{
    position: relative;
    content: "";
    width: 20%;
    border: 5px solid rgb(236,78,0);
  } 

  .separatorLeft{
    left: 80%;
  }

  .bgLine{
    position: absolute;
    overflow: hidden;
    top: 45%;
    z-index: -5;
    height: 450%;
    border: 0.2px solid rgb(57, 57, 57);
    opacity: 0.4;
    width: 0;
  }

  .bgL1{
    left:20%;
  }

  .bgL2{
    left:40%;
  }

  .bgL3{
    left:60%;
  }

  .bgL4{
    left:80%;
  }

  .gridWrapper{
    display:grid;
    grid-auto-rows: 2%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 40% 20% 20% 20% 20% 20% 20% 20%;
  }

  .textBox{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    animation: up-down-text linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
  }

  .txtLeft{
    text-align: right;
  }

  .txt1{
    grid-column: 7/10;
    grid-row:2;
  }

  .txt2{
    grid-column: 2/5;
    grid-row: 5;
  }

  .txt3{
    grid-column: 7/10;
    grid-row:8;
  }

  .titles{
    display: flex;
    position: relative;
    color:rgb(236,78,0);
    letter-spacing: -3px;
    font-family: "rajdhani bold";
    font-weight: 700;
    font-size: 60px;
  }

  .titleLeft{
    justify-content: right;
  }

  .paragraphText{
    position: relative;
    font-family:"roboto condensed", sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
  }
  
  .ref{
    display: inline;
    color: rgb(236,78,0);
  }

  .imgBoxes{
    z-index: 1;
    position:relative;
    border: 2px solid black;
    animation-fill-mode: forwards;
  }

  .center{
    z-index: 2;
    animation: up-down-centerImg linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
  }

  .front{
    z-index:3;
    animation: up-down-frontImg linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
  }

  .back{
    z-index: 1;
    animation: up-down-backImg linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
  }

  .float{
    animation: up-down-floatImg linear;
    animation-timeline: view();
    animation-fill-mode: forwards;
  }

  .center1{
    grid-column: 3/8;
    grid-row: 1/3;
    height:60%;
    width:65%;
    top:65%;
  }

  .back1{
    grid-column:2/5;
    grid-row:3;
    top: 10%;
    height:80%;
    width:80%;
  }

  .front1{
    grid-row:3;
    grid-column:5;
    top: 30%;
    right: 10%;
    height:70%;
    width:125%;
  }

  .float1{
    grid-column:2;
    grid-row:2;
    top: 5%;
    right: 30%;
    height:50%;
    width:110%;
  }

  .center2{
    grid-column:6/10;
    grid-row: 5;
    height:120%;
    width:95%;
    top: -30%;
  }

  .back2{
    grid-column:8/11;
    grid-row:5;
    height:90%;
    width:90%;
    top: 50%;
  }

  .front2{
    grid-row:5;
    grid-column:6;
    top: 50%;
    left: 15%;
    height:60%;
    width:120%;
    border: none;
  }

  .float2{
    grid-column:10;
    grid-row:5;
    top: -50%;
    right: 30%;
    height:40%;
    width:110%;
    border: none;
  }

  .center3{
    grid-column: 3/8;
    grid-row: 8;
    height:100%;
    width:65%;
  }

  .back3{
    grid-column:2/5;
    grid-row:8;
    height:70%;
    width:80%;
    top: 70%;
  }

  .front3{
    grid-row:8;
    grid-column:5;
    top: 60%;
    right: 10%;
    height:70%;
    width:100%;
    border: none;
  }

  .float3{
    grid-column:2;
    grid-row:8;
    top: 5%;
    right: 30%;
    height:50%;
    width:110%;
    border: none;
  }

  .bgText{
    position: absolute;
    z-index: -5;
    font-size: 350px;
    font-family: 'Rajdhani Bold', serif;
    color:rgb(57, 57, 57);
    opacity: 0.5;
    white-space: nowrap;
    left: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .bgTxt1{
    top: 140%;
    animation: bg-translate1 35s linear infinite;
  }

  .bgTxt2{
    top: 240%;
    animation: bg-translate2 35s linear infinite;
  }

  .bgTxt3{
    top: 350%;
    animation: bg-translate2 35s linear infinite;
  }

  .p2{
    animation-delay: 17.4s;
  }

  .buttonSlideWhite {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 2%;
    border: 2px solid white;
    padding: 1.5%;
    color: white;
    background-color: transparent;
    font-family:"rajdhani",Arial,sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size:14px !important;
    letter-spacing: .08em;
    text-decoration:none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 23px 33px;
    transition: border 0.3s;
    transition: color 0.5s;
  }

  .buttonSlideWhite:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(120deg, white 50%, transparent 50%);
    z-index: -1;
    background-size: 300%;
    background-position: 100%;
    transition: 0.7s;
  }
  
  .buttonSlideWhite:hover{
    color: black;
    border: 2px solid white;
  }

  .buttonSlideWhite:hover,
  .buttonSlideWhite:hover:after {
    background-position: 0;
  }

  .contact{
    width: 13%;
  }