@font-face{
    font-family: "rajdhani bold";
    src:url("../assets/Rajdhani-Bold.ttf");
}

@font-face{
    font-family: "Roboto";
    src:url("../assets/RobotoCondensed-Black.ttf");
  }

@font-face{
  font-family: "rajdhani";
  src:url("/assets/Rajdhani-Regular.ttf");
}

:root {
  --main-color: #003C62;
}
/* 003C62 */
/* 00264A */
/* 58ABAE */
/* 54927D */
::-moz-selection {
    color: black;
    background: var(--main-color);
}
  
::selection {
    color: black;
    background: var(--main-color);
}

html{
    width: 100%;
    height: 100%;
}

body{ 
    margin: 0;
    background: #131313;
    color: #fff;
    font-family: 'rajdhani bold', serif;
    letter-spacing: -7px;
    gap:10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header{
  position: absolute;
  z-index: 10;
  height: 13%;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid gray;
}

header::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.03;
  background-size: 300%;
  background-position: 100%;
}

.hero {
  font-family: 'Roboto', Times, serif ;
  left: 3%;
  font-size: 2.5cqw;
  line-height: 1;
  display: inline-block;
  color: white;
  z-index: 2;
  letter-spacing: -2px;
  transition: color 0.3s;
  position: absolute;
}

.hero:hover{
  color: var(--main-color);
  transition: color 0.3s;
}

.buttonList{
  top: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  left: 19%;
  width: 80%;
  height: 100%;
  z-index: 3;
  position: absolute;
  gap: 0.5%;
}

.buttonText {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5%;
  color: white;
  background-color: transparent;
  font-family:"rajdhani";
  cursor: pointer;
  font-weight: 600;
  font-size:0.9cqw !important;
  letter-spacing: .08em;
  text-decoration:none;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: border 0.3s;
  transition: color 0.3s;
}

.buttonText:hover{
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formArea{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

::placeholder {
    color: white;
    opacity: 1;
    font-family: "rajdhani";
    font-weight: 600;
    font-size: 0.8cqw;
}

.email{
    padding: 12px 20px;
    box-sizing: border-box;
    position: relative;
    top: 30%;
    height: 30%;
    width: 78%;
    resize: none;
    background-color: #131313;
    border: 2px solid rgb(57, 57, 57);
    color: white; 
    font-family: "rajdhani";
    font-weight: 600;
    font-size: 0.8cqw;
}

.name{
    padding: 12px 20px;
    box-sizing: border-box;
    position: relative;
    height: 30%;
    left: 82%;
    width: 78%;
    resize: none;
    background-color: #131313;
    border: 2px solid rgb(57, 57, 57);
    color: white;
    font-family: "rajdhani";
    font-weight: 600;
    font-size: 0.8cqw;
}

.message{
    padding: 12px 20px;
    box-sizing: border-box;
    position: relative;
    top: 5%;
    width: 160%;
    height: 140%;
    resize: none;
    background-color: #131313;
    border: 2px solid rgb(57, 57, 57);
    color: white;
    font-family: "rajdhani";
    font-weight: 600;
    font-size: 0.8cqw;
}

.message:focus{
    outline: none !important;
    border: 2px solid rgb(57, 57, 57);
    border-bottom: 2px solid var(--main-color);
}

.name:focus{
    outline: none !important;
    border: 2px solid rgb(57, 57, 57);
    border-bottom: 2px solid var(--main-color);
}

.email:focus{
    outline: none !important;
    border: 2px solid rgb(57, 57, 57);
    border-bottom: 2px solid var(--main-color);
}

.buttonSlide {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    padding: 1.5%;
    color: white;
    background-color: transparent;
    font-family:"rajdhani",Arial,sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size:0.9cqw !important;
    letter-spacing: .08em;
    text-decoration:none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 23px 33px;
    transition: border 0.3s;
    transition: color 0.5s;
  }

  .buttonSlide:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(120deg, var(--main-color) 50%, transparent 50%);
    z-index: -1;
    background-size: 300%;
    background-position: 100%;
    transition: 0.7s;
  }

  .formButton{
    color: white;
    border: 2px solid var(--main-color);
    top: 5%;
    height: 30%;
    width: 160%;
  }

  .buttonSlide:hover{
    border: 2px solid var(--main-color);
    color: white;
  }

  .buttonSlide:hover,
  .buttonSlide:hover:after {
    background-position: 0;
  }

  .textBox{
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 25%;
  }

  .titles{
    position: relative;
    color:white;
    letter-spacing: -3px;
    font-family: "rajdhani bold", serif;
    font-weight: 700;
    font-size: 3cqw;
  }

  .largeSeparator{
    position: relative;
    left: 83%;
    content: "";
    width: 15%;
    border: 5px solid white;
  } 

  .paragraphText{
    position: relative;
    font-family:"roboto condensed", sans-serif;
    color: white;
    font-size: 0.9cqw;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
  }